.location
    padding: 0
    width:100%
    max-width 375px
    margin: 0 auto
    .top 
        height 60px
        background-color #ffcb47
        .top_left
            font-size: 18px
            width 15%
            height: 60px
            float: left
            img 
                width: 20px
                height: 20px
                margin-top: 20px
        .top_right
            margin-top: 18px
            margin-left: 10px
            position: relative
            width 70%
            height: 25px
            float left
            background-color: white
            border-radius: 3px
            img
                position: absolute
                width 12px
                height 12px
                left: 15px
                top: 7px
            input
                border: 0
                height: 25px
    .local
        position: relative
        width 100%
         
        .mylocal
            display: inline-block
            width 50%
            height 30px

    .hot_city_title
        background-color:#dad7d7
        font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif    
    .hotCity
        height: 150px
        background-color: #dad7d7
        display: grid
        grid-template-columns: 33.33% 33.33% 33.33%
        grid-template-rows: 33.33% 33.33%  
        place-items: center   
        .hotCity_item
            font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif    
            width 100px
            height: 30px
            background-color: white
            line-height: 30px
            
        

                
            
            
                          
    
    
         
