.main
    width 100% 
    max-width 359px
    margin: 0 auto
    background-color #ffcb47
    border-size border-box
    position: fixed;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    overflow: auto
    header 
        width: 359px
        height 60px
        .header_top
            position: fixed 
            width: 359px
            display flex
            height 60px
            border-radius: 3px 3px 0 0
            background-color #ffcb47
            flex-direction row
            justify-content: space-around
            align-items: center 
            z-index 2   
            .li
                flex auto     
            .header_top_one 
                height: 60px
                img 
                    width: 22px
                    height 22px
                    margin-top:  20px
            .header_top_two
                position: relative         
                width: 60px
                height 60px
                .localWeather_l
                    position: absolute
                    color: black
                    left 5px
                    top: 5px
                .localWeather_w
                    position: absolute
                    top: 29px
                    left 3px
                    font-size: 12px
                    transform: scale(0.9)
                .localWeather_t       
                    position: absolute 
                    top: 18px
                    right 0px
                    font-size: 12px
                    transform: scale(0.8)
                img 
                    position: absolute 
                    width: 14px
                    height 14px
                    left: 70px
                    top: 8px    
            .header_top_three 
                position: relative
                .search 
                    position: absolute
                    width: 16px
                    height: 16px
                    left 18px
                    top: 5px
                .img2
                    position: absolute
                    width: 16px
                    height: 16px
                    left 140px
                    top: 5px   
                input 
                    width: 150px
                    height: 20px
                    border-radius: 5px   
            .header_top_four
                img 
                    width: 18px
                    height 18px
                .chouti
                    position: absolute
                    left 260px
                    top: 50px
                    background-color: rgba(0,0,0,0.8)
                    border-radius: 5px
                    .sanjiao
                        position: absolute 
                        right 8px
                        top -5px
                        width: 0
                        height 0
                        border-width: 0 5px 5px
                        border-style: solid
                        border-color: transparent transparent rgba(0,0,0,0.8)                       
                    .chouti_ul
                        color: #bfbbbb
                        list-style-type none 
                        margin: 0   
                        padding: 0
                        width: 90px
                        height: 164px
                        li
                            position relative
                            margin: 0 auto
                            width: 70px
                            line-height: 40px
                            border-bottom: 1px solid #bfbbbb
                            span 
                                font-size: 12px
                                margin-left: 10px 
                            img 
                                margin-left: 1px
                                vertical-align: middle
                                width: 15px
                                height: 15px
                        li:nth-last-of-type(1)
                            border-bottom none
                            img 
                                width: 20px
                                height: 20px 
                        li:nth-last-of-type(2)
                                img 
                                    width: 18px
                                    height: 18px                                                  
    section 
        height: 200px
        background-image: linear-gradient(to bottom,#ffcb47,white)                       
        .section_top
            display: flex
            margin: 0 auto
            width: 345px
            height: 80px
            flex-flow: row nowrap 
            justify-content: space-around
            background-color: white
            border-radius: 16px 16px 0 0 
            &>div
                position: relative
                flex: 0 0 15%
                margin-top: 10px
                height: 51.75px
                border-radius: 15px
                img 
                    position: absolute
                    width: 30px
                    heith 30px
                    top: 11px
                    left 10px
                span 
                    position: absolute
                    left 2px
                    top: 54px
                    font-size: 12px
            .food
                background-color: #f34e08
                span 
                    left 13px
            .movie
                background-color: red
            .hotel
                background-color: #825543
            .recreation
                background-color: #069c8e
            .outfood
                background-color: #f9b918
                span 
                    left 13px                    
        .section_bottom
            background-color: white
            width: 345px
            margin: 0 auto
            display: flex
            flex-flow: row wrap
            justify-content: space-around
            &>div
                position: relative
                flex: 0 0 20%
                margin-top: 8px
                height: 45px
                border-radius: 15px
                img 
                    position: absolute
                    width: 30px
                    heith 30px
                    top: 11px
                    left 20px
                span 
                    position: absolute
                    left 12px
                    top: 43px
                    font-size: 12px
                .gengduo 
                    left 23px
    



                 
                    
            
            
