.shop
    width: 359px
    margin: 0 auto
    background-color: #efefef
    .top
        height: 40px
        position relative
        display fixed 
        top 0
        background-color: white
        img
            width: 20px
            position absolute
            left 10px
            top 10px
        .title
           line-height: 40px
           font-weight: 700
        .top_r
            position absolute
            right 10px
            top 10px
            font-size: 13px
    .bottom
        width: 359px
        display: flex
        align-content space-around
        position relative
        .empty
            width: 339px
            height: 200px 
            background-color: white
            margin:  10px auto
            border-radius: 10px
            line-height: 300px
            font-size: 12px
            img 
                width: 100px 
                position absolute 
                left 50%
                top 40%
                transform: translate(-50%,-50%) 


              

