.userCenter
   width 359px
   height: 812px
   background-color #ffcb47
   margin: 0 auto
   .top
      position: relative
      width: 359px
      height: 160px 
      .tou
         width 260px
         height: 60px
         font-size: 16px
         position: absolute
         left 3px
         top: 30px
         img 
            width: 60px
            height: 60px
            border-radius: 50%
            position: absolute
            left 10px
            top 0
         .name
            position: absolute
            left 80px
            top 20px
      .you
         position: absolute
         right 10px
         top 30px
         width: 90px
         height: 60px 
         img 
            width: 26px
            height: 26px
            position: absolute
            top: 20px
         .sz
            left 2px
         .ej
            right 10px   
      .wei
         position: absolute
         left 0
         bottom: 10px
         width: 359px
         display: flex
         justify-content: space-between
         div
            width: 80px
            height: 50px
            position: relative
         img 
            width: 26px
            height: 26px
            position: absolute
            left 27px
            top: 1px 
         span 
            position: absolute
            left 28px
            top: 30px
            font-size: 12px
            transform: scale(0.9) 
         .hb
            span
               position: absolute
               left 15px
               top: 30px
   .bottom
      width 359px
      height: 616px
      background-color: white
      border-radius: 16px
      .bottom_top
         width 359px
         height: 130px
         position relative
         .bottom_top_top
            position absolute
            left 0
            top 0
            width 359px
            height: 50px
            .my_wallet
               position absolute
               left 20px
               top 10px
               font-weight: 600
            .go_wallet
               position absolute
               left 280px
               top 10px 
               font-size: 12px
               font-weight: 340
            img 
               position absolute
               left 335px
               top 10px 
               width: 16px
               height: 16px
         .bottom_top_bottom
            position: absolute 
            left 0
            bottom: 0
            width: 359px
            height: 80px
            display: flex
            justify-content: space-between
            div
               width: 100px
               position: relative
               span:nth-child(1)
                  font-size: 16px
                  font-weight: 700
                  position: absolute
                  top: 5px
               span:nth-child(2)
                  font-size: 12px 
                  position: absolute
                  top: 5px
               span:nth-child(3)
                  font-size: 12px 
                  position: absolute
                  top: 30px
               span:nth-child(4)
                  font-size: 13px
                  font-weight: 300 
                  transform: scale(0.82)
                  position: absolute
                  top: 50px 
            .jieqian
               span:nth-child(1)
                  left 35px 
               span:nth-child(2)
                  left 55px
               span:nth-child(3)
                  left 40px
               span:nth-child(4)
                  left 9px
            .zhangdan
               span:nth-child(1)
                  left 35px 
               span:nth-child(2)
                  left 55px
               span:nth-child(3)
                  left 30px
               span:nth-child(4)
                  left 14px
            .youhui
               span:nth-child(1)
                  left 30px 
               span:nth-child(2)
                  left 60px
               span:nth-child(3)
                  left 22px
               span:nth-child(4)
                  left 20px                               

      .bottom_middle
         width: 340px
         height: 120px
         margin: 0 auto
         border-top:1px solid #d4d2d2
         border-bottom:1px solid #d4d2d2
         position relative
      .bottom_bottom 
         width: 359px
         height: 350px
         .bottom_bottom_top
            padding-left 10px
            padding-top 10px
            text-align: left
            font-size: 15px
            font-weight: 700
         .bottom_bottom_bottom
            display: flex
            justify-content: space-between
            flex-flow: row wrap
            div
               background-color: white
               width: 80px   
               height: 80px
               position relative
               img 
                  width: 30px
                  position: absolute 
                  left 25px
                  top: 10px
               span 
                  width: 80px
                  position: absolute 
                  left 0px
                  top: 50px
                  font-size: 12px

            





    

   
  
  